body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0e0e0;
}

.collapsible-body {
    background-color: #eeeeee;
}

main {
    flex: 1 0 auto;
}

#accueil {
    background-color: #212121;
    padding-bottom: 1em;
    padding-top: 1em;
    z-index: 500;
}

.under {
    position: relative;
    z-index: -1;
}

#portrait {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.social {
    margin-bottom: 1em;
}

#btn-ct {
    position: fixed;
    right: 3em;
    bottom: 4em;
    z-index: 999;
}

#btn-dl {
    position: fixed;
    right: 2em;
    bottom: 1em;
}